@import "/src/colors";

.container{
    margin: 60px 0 130px 0;
    top: 600px;
    height: 100%;
    width: 80vw;
    @media (max-width: 1000px) {
        width: 100vw;
    }
    @media (max-width: 670px) {
        margin-top: 80px;
    }
}

.block{
    display: flex;
    align-items: center;
    margin: 20px;
    &__photo{
        display: flex;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        order: 2;
        &:hover{
            transition: all 0.2s linear;
            width: 64px;
            height: 64px;
        }
    }
    &__message{
        margin: 0 10px;
        display: flex;
        order: 3;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
        border-radius: 12px;
        max-width: 70%;
        background-color: $color2;
        &__text{
            font-size: 1.1rem;
            margin-bottom: 5px;
        }
        &__name{
            font-size: 0.8rem;
            opacity: 0.7;
            text-align: end;
        }
        &__date{
            font-size: 0.8rem;
            font-weight: 300;
        }
    }
}

.text{
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 80vw;
    height: 130px;
    background-color: $color2;
    @media (max-width: 670px) {
        width: 100vw;
    }
    &__block{
        display: flex;
        align-items: center;
        height: 100%;
        &__textarea{
            width: 70%;
            height: 100%;
            margin-right: 10px;
            background-color: $background;
            border-color: $color2__hover;
            padding: 5px;
            font-size: 1rem;
            color: white;
            border-radius: 12px;
            resize: none;
        }
    }
}

.panel{
    display: none;
    position: fixed;
    padding: 0 15px;
    z-index: 100;
    top: 50px;
    height: 30px;
    width: 100%;
    background-color: $color2__hover;
    &__members{
        font-weight: 300;
        margin-right: 10px;
    }
    &__all{
        opacity: 0.6;
        border: 1px solid $text;
        border-radius: 6px;
        padding: 0 5px;
        font-weight: 300;
        &:hover{
            opacity: 1;
            transition: all linear 0.2s;
        }
    }
    @media (max-width: 670px) {
        display: flex;
        align-items: center;
    }
}

.block__your{
    justify-content: flex-end;
}

.message__your{
    order: 2;
}