@import "/src/colors";

.menu{
    margin-top: 60px;
    width: 20%;
    border-right: 1px solid $header;
    @media (max-width: 1000px) {
        min-width: 200px;
    }
    @media (max-width: 670px) {
        border-right: none;
        position: absolute;
        margin-top: 80px;
        z-index: 50;
        width: 100vw;
        height: 100%;
        background-color: $color2;
    }
    &__items{
        position: fixed;
        width: 20%;
        border-right: 1px solid $header;
        overflow-y: hidden;
        @media (max-width: 1000px) {
            min-width: 200px;
        }
        @media (max-width: 670px) {
            border-right: none;
            width: 100vw;
        }
    }
    &__person{
        min-height: 60px;
        padding: 0 5px;
        margin-bottom: 1px;
        display: flex;
        align-items: center;
        background-color: $color2;
        &:hover{
            background-color: $color2__hover;
        }
        &__photo{
            width: 48px;
            height: 48px;
            margin-right: 10px;
        }
        &__nick{
            font-size: 1.2rem;
        }
        &__online{
            font-size: 0.7rem;
            font-weight: 300;
        }
    }
}
