@import "/src/colors";

.menu{
    padding-top: 60px;
    width: 20vw;
    height: 100vh;
    @media (max-width: 1000px) {
        min-width: 200px;
    }
    @media (max-width: 670px) {
        border-right: none;
        position: fixed;
        margin-top: 80px;
        z-index: 50;
        width: 100vw;
        height: 100vh;
        background-color: $color2;
    }
    &__items{
        position: fixed;
        z-index: 0;
        width: 20%;
        overflow-y: hidden;
        @media (max-width: 1000px) {
            min-width: 200px;
        }
        @media (max-width: 670px) {
            border-right: none;
            width: 100vw;
        }
        &__person{
            min-height: 60px;
            padding: 0 5px;
            margin-bottom: 1px;
            display: flex;
            align-items: center;
            background-color: $color2;
            @media (max-width: 670px) {
                border-bottom: 1px solid $background;
            }
            &:hover{
                background-color: $color2__hover;
            }
            &__photo{
                width: 48px;
                height: 48px;
                margin-right: 10px;
            }
            &__nick{
                font-size: 1.2rem;
            }
            &__online{
                font-size: 0.7rem;
                font-weight: 300;
            }
        }
    }
}
