@import "/src/colors";

.menu{
    margin-top: 60px;
    height: 100vh;
    min-width: 300px;
    border-right: 1px solid $header;
    &__items{
        position: fixed;
        width: 299px;
        overflow-y: hidden;
    }
    &__person{
        min-height: 60px;
        padding: 0 5px;
        margin-bottom: 1px;
        display: flex;
        align-items: center;
        background-color: $color2;
        &:hover{
            background-color: $color2__hover;
        }
        &__photo{
            width: 48px;
            height: 48px;
            margin-right: 10px;
        }
        &__nick{
            font-size: 1.2rem;
        }
        &__online{
            font-size: 0.7rem;
            font-weight: 300;
        }
    }
}
